@charset "UTF-8";
@font-face {
    font-family: "d-din";
    src: url("../src/fonts/D-DINExp-Bold.otf");
}
@font-face {
    font-family: "inter";
    src: url("../src/fonts/inter.ttf");
}
@font-face {
    font-family: "ShipporiGothic";
    src: url("../src/fonts/ShipporiGothicB2-OTF-Bold.otf");
}

body {
    background-color: #e0e0e0;
    height: 100%;
    width: 100%;
    user-select: none;
}

header {
    height: 25%;
    width: 100%;
    pointer-events: none;
    margin-top: 1%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    flex-wrap: wrap;
    height: 100%;
    margin: 1% 1% 1% 1%;
}

.header p {
    font-family: inter;
    animation: text 0.4s forwards;
    opacity: 0;
    font-size: 55px;
    font-weight: 700;
}
@keyframes text {
    0% {
        opacity: 0;
        transform: translateY(-3px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1% 1% 1% 1%;
    width: auto;
}

.wrap h2 {
    font-family: "ShipporiGothic";
    font-size: 20px;
    color: #000;
    margin: 1% 1% 1% 1%;
    text-wrap: nowrap;
    text-align: center;
    animation: text2 1s forwards;
    opacity: 0;
}
@keyframes text2 {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.header img {
    width: 100px;
    height: 100px;
    animation: img 0.75s forwards;
    opacity: 0;
}
@keyframes img {
    0% {
        opacity: 0;
        transform: rotate(-360deg);
    }
    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.menu {
    display: flex;
    margin: 3% 3% 3% 3%;
    gap: 50px 3%;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.menu .game {
    height: 250px;
    width: 250px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  25px 25px 50px #bebebe,
                -25px -25px 50px #ffffff,
                inset 25px 25px 50px transparent,
                inset -25px -25px 50px transparent;
    transform: translateY(3px);
    animation: active 0.5s forwards;
    transition-duration: 0.1s;
    transition: box-shadow 0.1s 0s linear;
    position: relative;
    opacity: 0;
}
.menu .game:nth-child(1) {
    animation-delay:0.05s;
}
.menu .game:nth-child(2) {
    animation-delay:0.1s;
}
.menu .game:nth-child(3) {
    animation-delay:0.15s;
}
.menu .game:nth-child(4) {
    animation-delay:0.2s;
}
.menu .game:nth-child(5) {
    animation-delay:0.25s;
}
.menu .game:nth-child(6) {
    animation-delay:0.3s;
}
.menu .game:nth-child(7) {
    animation-delay:0.35s;
}
.menu .game:nth-child(8) {
    animation-delay:0.4s;
}
.menu .game:nth-child(9) {
    animation-delay:0.45s;
}
.menu .game:nth-child(10) {
    animation-delay:0.5s;
}
.menu .game:nth-child(11) {
    animation-delay:0.55s;
}
.menu .game:nth-child(12) {
    animation-delay:0.6s;
}
@keyframes active {
    0% {
        transform: translateY(5px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.overlay {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    opacity : 0;
    transition: opacity 0.2s 0s linear;
    -webkit-user-drag: none;
    z-index: 2;
}
.overlay:hover {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    opacity : 1;
    z-index: 2;
}
.overlay:active {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    opacity : 0;
    z-index: 2;
}
.game_logo {
    top: 0.5px;
    border-radius: 50px;
    z-index: 0;
    position: absolute;
    pointer-events: none;
}
.menu .game:hover {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  25px 25px 50px #bebebe,
            -25px -25px 50px #ffffff;
}
.menu .game:active {
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: 25px 25px 50px transparent,
                -25px -25px 50px transparent,
                inset 25px 25px 50px #bebebe,
                inset -25px -25px 50px #ffffff;
}
.menu .game p {
    font-family: "ShipporiGothic";
    position: absolute;
    text-decoration: none;
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: auto;
    top: 200px;
    z-index: 3;
    color: #FFFFFF;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.2s 0s linear;
    pointer-events: none;
}

.menu .game:hover p {
    opacity: 1;
    transform: translateY(0px);
}
